body{background-color:#FFDAB9;}
/*para que la caja mas grande tenga unas propiedades en especifico, como lo son tamaño, color, borde y posición.*/
div#principal{border:4px solid black;position:relative;width:1000px;padding-top:0px;padding-bottom:15px;margin-left:auto;margin-right:auto;text-align:center;background-color:#FFE1C7;margin-top:100px;}
/*Es para que en el cambio de imagen mientras pasamos el cursor la imagen se remplace*/
img.imageng, img.imagen{position:absolute;top:10px;left:380px;display:none;width:600px;height:400px;}
/* Es para que la imagen grande esté en una sola linea y que no tenga elementos a su lado izquierdo y derecho */
img.imagen{display:block;}
/* Es para que las imagenes pequeñas estén en linea, una al lado de la otra */
div.imagenes{display:flex; padding-left:10px;padding-top: 10px;}
/* Para que cuando la imagen pequeña tome la posicion de la grande se desaparezca o se oculte */
img.imagenp:hover ~ img.imagen{display:none;}
/* Para que cuando el cursor esté sobre la pequeña se remplace por la imagen grande y quede como un elemento en bloque */
img.imagenp:hover ~ img.imageng{display:block;}
/* Este nos permite colocarle el tamaño a las imagenes pequeñas */
img.imagenp{width:200px;height:150px;}